{% extends 'base.html' %}

{% block content %}

 <!-- Header -->
 <header id="header" class="container section">
    <div class="row">
      <div class="col-12 col-xl-6 text-center text-xl-start">
        <h1>Welcom to FatBoysPizza!</h1>
        <p class="my-4">The home of the finest dough, the tastiest toppings and the most delicious sides. <br>
            If you're in the mood for serious pizza slices, we've got you covered. <br>
            Book a table today and leave the rest to us.</p>
        <p class="my-4">You can find us in the heart of Chelmsford, right on the hight-street. <br>
            We are open from 12:00 PM to 08:30 PM every day, servicing up the <br>
            finest slices on earth.</p>
        <a href="#" class="btn custom-button-filled mb-4">Book a table</a>
      </div>
      <div class="col-12 col-xl-6">
        <div class="header-image">
          <img src="static/images/pizza-hero.webp" class="d-block w-100"
            alt="">
        </div>
      </div>
    </div>
  </header>

{% endblock %}