{% extends 'base.html' %}
{% load static %}
{{ form.media }}

{%block css %}
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block content %}

<!-- Confirm booking -->
<div class="container">
    <h1 class="text-center mt-2">Booking confirmed</h1>
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %}
            <p>We look forward to seeing you.</p>
            <p>Name: {{ object.name }}</p>
            <p>Table: {{ object.table }}</p>
            <p>Guests: {{ object.guests }}</p>
            <p>Date: {{ object.date }}</p>
            <p>Time: {{ object.get_booking_time_display }}</p>
            <a href="{% url 'booking:manage-bookings' %}" class="btn btn-primary mt-3">Manage Bookings</a>
        </form>
    </div>
</div>

{% endblock %}