{% extends 'base.html' %}
{% load static %}
{{ form.media }}

{%block css %}
<link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">
{% endblock %}

{% block content %}
<header class="add-booking-header">
    <div class="heading-container">
        <img src="{% static 'menu/images/pizza-header.webp' %}" alt="Small Pizza Icon" class="heading-icon">
        <h1 class="text-left mt-4">Confirm booking deletion</h1>
    </div>
</header>
<!-- Confirm booking deletion -->
<div class="container">
    <div class="d-flex justify-content-center pt-3">
        <form method="post" class="text-center">
            {% csrf_token %}
            <p>Are you sure you want to delete the booking for {{ object.guests }}?</p>
            <p>This action cannot be undone.</p>
            <p>Name: {{ object.name }}</p>
            <p>Table: {{ object.table }}</p>
            <p>Guests: {{ object.guests }}</p>
            <p>Date: {{ object.date }}</p>
            <p>Time: {{ object.get_booking_time_display }}</p>
            <button type="submit" class="btn custom-button-filled btn-primary mb-4">Delete</button>
            <a href="{% url 'booking:manage-bookings' %}" class="btn btn-secondary mb-4">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}