{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set password" %}{% endblock head_title %}

{% block content %}
<div class="form-style mt-3 p-3 text-center">
    <h1>{% trans "Set password" %}</h1>
    

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set allauth-form mx-auto">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" class="button-style" name="action" value="{% trans 'Set password' %}">
    </form>
</div>
{% endblock %}
